html {
    font-family: Arial, Helvetica, sans-serif
  }
  
  
  
  div {
    margin-bottom: 10px;
  }
  
  fieldset {
    background: cyan;
    border: 10px solid hotpink;
  }
  
  legend {
    padding: 10px;
    background: hotpink;
    color: black;
  }

  label{
    font-family: Georgia, 'Times New Roman', Times, serif
    
  }